@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
.containerTopCpu{
    flex: 2;
    /* padding: 0px 0px 20px 10px; */
}
.titleCPU{
    font-family: 'Bai Jamjuree', sans-serif;
    padding-left: 2em;
}

.containerCPU{
    flex: 1;
    margin: 0em 1em 0em 1em;
    width: 85%;
}

.pagueCPU {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}