.containerTopCpu {
    flex: 1;
    /* padding: 0px 0px 20px 10px; */
}

.titleCPU {
    font-family: 'Open Sans',
        Arial,
        sans-serif;
    font-weight: normal;
}

.containerCPU {
    flex:1;
    margin: 0em 1em 0em 1em;
}

.pageCPU {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}