@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
.containerTopMemory{
    flex:2;
    /* padding: 0px 0px 20px 10px; */
}
.titleMEMORY{
    font-family: 'Bai Jamjuree', sans-serif;
    padding-left: 2em;
}

.containerMEMORY{
    margin: 0em 1em 0em 1em;
}

.pageMEMORY {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.containerMEMORY {
    width: 85%;
    flex: 1;
    margin: 0em 1em 0em 1em;
}