@font-face {
  font-family: MetricHPEXS;
  src: url('../../components/recursos/MetricHPEXSLight-Regular.woff2')
}

@font-face {
  font-family: MetricHPEXS1;
  src: url('../../components/recursos/MetricHPEXSBlack-Regular.woff2')
}

.pageHOME {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
   

}
.containerHOME {
    flex: 1;
    margin: 0em 1em 0em 1em;
    width: 85vw;
    position: relative;
}

.Titulo1 {
  font-family: MetricHPEXS1;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 0.07mm;
  text-align: center;
  position: relative;
  bottom: -450px;
}

.Titulo2 {
  font-family: MetricHPEXS;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  position: relative;
  bottom: -480px;
}

.logohome{
  height: 250px;
  position:absolute;
  bottom:325px;
  right:250px;
}
