@font-face {
  font-family: MetricHPEXS;
  src: url('../../components/recursos/MetricHPEXSLight-Regular.woff2')
}

@font-face {
  font-family: MetricHPEXS1;
  src: url('../../components/recursos/MetricHPEXSBlack-Regular.woff2')
}

.pageHOME {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
   

}

.containerlogohome {

  width: 100%;
  position: absolute;
  bottom: 10%;
  right: 11%;
}


.containerHOME {
    flex: 1;
    width: 100%;
    position: relative;
    background-image: url(https://img.freepik.com/free-photo/beautiful-shot-sea-with-mountain-distance-clear-sky_181624-2248.jpg?w=2000)
}

.Titulo1 {
  font-family: MetricHPEXS1;
  width: 100%;
  font-weight: normal;
  font-size: 45px;
  letter-spacing: 0.07mm;
  text-align: center;
  position: relative;
  bottom: -450px;
  color: rgb(100,101,105);
}

.Titulo2 {
  font-family: MetricHPEXS;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  position: relative;
  bottom: -480px;
  color: rgb(100,101,105);
}

.logohome{
  max-height: 250px;
  position:fixed;
  bottom:325px;
  
}
