@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

.Sidebar {
    height: 100%;
    width: 14%;
    background-color: rgba(255, 131, 0, 1);
    position: relative;

}

.imgSideBar {
    margin-top: 25px;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
    min-width: 100%;
    position: absolute;
}

.SidebarList .row {
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: MetricHPEXS;
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(222, 117, 6);
}



.SidebarList #active {
    background-color: white;
    color: rgb(222, 117, 6);
}

.SidebarList #active:hover {
    background-color: white;
    color: rgb(222, 117, 6);
}

.row #icon {

    flex: 20%;
    display: grid;
    place-items: center;
}

.row #title {
    font-family: 'Quicksand', sans-serif;  width: 100%;
    letter-spacing: 0.07mm;
    font-style: normal;
    font-weight: normal;
    font-size: large;
    flex: 40%;
}

.rowLogout {
    position: absolute;
    top: 90vh;
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    font-family: MetricHPEXS;
}

.rowLogout:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(222, 117, 6);
}

.rowLogout #icon {

    flex: 20%;
    display: grid;
    place-items: center;
}

.rowLogout #title {
    font-family: 'Quicksand', sans-serif;  width: 100%;
    letter-spacing: 0.07mm;
    font-style: normal;
    font-weight: normal;
    font-size: large;
    flex: 40%;

}